.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal li {
	margin-bottom: 20px;
	margin-left: 10px;
}

.reveal li p.reference {
	font-size: 0.8em;
}
.reveal .smaller tr {
	font-size: 0.8em;
}